<style>
.fb-button {
    background-color: #5975b1;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow:   1px 1px 10px #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    #margin-left: 10px;
    outline: medium none;
    text-decoration: none;
    border: none;
    width: auto;
    margin: 20px 30px 30px 30px;
    #position: absolute;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.fb-button:hover {
    text-decoration: none;
    color: #FFFFFF;
    }
    
.whatIs {
  #visibility:hidden;
  font-family: 'Varela', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline;
  position: fixed;
  margin-left: 20%;
  #background: #E6F8E0;
  margin-top: 13%;
  padding: 30px;
  width: 55%;
  height:40%;
  color: #ffffff;
  text-align: center;
  z-index: 1000;
}

  body
  {
    background-image:url("https://s3-ap-northeast-1.amazonaws.com/quoteme/51d9167cec8d8380ad000002.jpeg");
    background-repeat:repeat;
  }
  
.contents {
  margin-top: 20%;
  text-align: center;
}

</style>


<div class="whatIs">
   <h3>Confused about combinations ? <br>Use Buy This Look !</h3>
  <div class="contents">
  
    <a href="/auth/facebook" class="fb-button" > Check it out using Facebook !</a>
  </div>
</div>